@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #080B39;
    color: #ededed;
}

/* Header Styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: normal;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.logo:hover {
    color: #f248b6;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #f248b6;
}

/* Homepage Styles */

.home {
    height: 100vh;
    background: url(assets/images/backgroundlogo.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #f248b6;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #f248b6;
    border: 2px solid #f248b6;
    border-radius: 8px;
    font-size: 19px;
    color: #080B39;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #f248b6;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #f248b6;
}

.btn-box a:nth-child(2):hover {
    background: #f248b6;
    color: #080B39;
}

.btn-box a:nth-child(2)::before {
    background: #f248b6;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #080B39;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
    color: #f248b6;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #f248b6;
    border-radius: 50%;
    font-size: 20px;
    color: #f248b6;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #080B39;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f248b6;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #080B39;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #080B39;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* About Page Styles */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1.6rem;
    padding: 1.6rem;

}

.about-content {
    padding: 1.6rem;
}

#about h1 {
    margin: 1.6rem;
}

#about p {
    margin: 1.6rem;
}

/* Projects */
.all-projects {
    background: red;
    

}


/* Contact Page Styles */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/images/catspace.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #f248b6;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .message-input-box {
    width: 100%;
    height: 100px;
    /* margin: 0; */
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ededed;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #f248b6;
}

.message-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    font-size: 16px;
    color: #ededed;
    padding: 20px 45px 20px 20px;
}

.message-input-box input::placeholder {
    color: #f248b6;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #f248b6;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #080B39;
    cursor: pointer;
    font-weight: 600;
    margin: 30px 0;
}

.wrapper .btn:hover {
    background: #080B39;
    color: #f248b6;
    border: 2px solid #f248b6;
}

.contact .home-sci {
    position: absolute;
}

/* Keyframes Animation */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}